     <div class = "footer">
          <div class = "container">
          <div class = "row text-center">
               <div class = "col-md-4" id="icon-center">
                 <p> <strong>Powered by:</strong>  <p>
                 <ul>
                      <li><img src="https://webassets.mongodb.com/_com_assets/cms/MongoDB-Logo-5c3a7405a85675366beb3a5ec4c032348c390b3f142f5e6dddf1d78e2df5cb5c.png"></li>
                      <li style="margin-top:32px; margin-bottom:0px"><img src ="http://mean.io/wp-content/themes/twentysixteen-child/images/express.png">     </li>
                      <li><img src="https://dab1nmslvvntp.cloudfront.net/wp-content/uploads/2015/07/1436439824nodejs-logo.png"></li>
                 </ul>

               </div>
                <div class = "col-md-4" id="text-center">
                          <p><strong>Developed:</strong></p>
                          <p>Seredenpity! was developed and maintained by @RicardoJacinto </p>
                              <p> Code licensed <a href = "https://opensource.org/licenses/ISC"> ISC</a></p>
                 
               </div>
                <div class = "col-md-4" id="about-center">
                              <p><strong>About:</strong></p>
                              <p> Our main purpose is to connect people with selected and premium locations – like bars and campgrounds - around the world. People can add new locations and interact with each other sharing their experiences and stories.
</p>
               </div>
               
         </div>
        
         <div class = "container">
          <div class = "row text-center">
               <div class = "col-md-12">
                         <p> <strong>Copyright © 2016 Serendipity!. All Rights Reserved. </strong></p>
               </div>
       </div>
     </div>
  </div> 
</div>
     <script src="/js/main.js"></script>


  </body>
</html>
