
<%include partials/header %>

<div class = "title-landing">
    <div class = "text-center sere-meaning">
         <h1> Serendipity! </h1>
         <p> [ser-uh n-dip-i-tee] </p>
      
             <div class = "container" id = "list-landing">
                     <h3> noun </h3> 
                     <ol>
                         <li> An aptitude for making desirable discoveries by accident.</li>
                         <li> Good fortune; luck:
                           <em> the serendipity of finding the place of your dreams. </em></li>
                     </ol>
                     
               </div>
         </div>
</div>

<div class = message-landing>
<div class="content-title text-center" id="content-title">
    <h3> That special place is just around the corner! Make that discovery today.</h3> 
</div>
</div>
<div class = "container" id="well-landing">
<div class = "row">
    <div class = "col-md-12" id="fix-padding-landing">
        <div class = "category1">
                <div class = "title">
                        <a href="/campgrounds" class=""><h3> Camping</h3></a>
                </div>
        </div>
   </div>
</div>
<div class = "row">
    <div class = "col-md-12" id="fix-padding-landing">
         <div class = "category2">
                <div class = "title">
                        <a href="#" class=""><h3>Bars </h3> </a>
                </div>
        </div>
    </div>
    <div class = "col-md-12" id="fix-padding-landing">
         <div class = "category3">
                <div class = "title">
                        <a href="#" class=""> <h3>Attractions</h3></a>
                </div>
        </div>
    </div>
    <div class = "col-md-12" id="fix-padding-landing">
         <div class = "category4">
                <div class = "title">
                        <a href="#" class=""><h3> Hiking</h3> </a>
                </div>
        </div>
    </div>
   
</div>
</div>

<%include partials/footer %>
